version: 2.1

jobs:
  build-test:
    docker:
      - image: cimg/openjdk:17.0.10
    working_directory: ~/project
    environment:
      JAVA_OPTS: "-Xmx2g -XX:+UseG1GC"
      SBT_OPTS: "-Dsbt.ci=true"
    steps:
      - checkout
      - restore_cache:
          name: Restore Coursier binary
          keys:
            - coursier-bin-v1
      - restore_cache:
          name: Restore sbt dependencies
          keys:
            - sbt-deps-v1-{{ checksum "build.sbt" }}-{{ checksum "project/plugins.sbt" }}-{{ checksum "project/build.properties" }}
            - sbt-deps-v1-
      - run:
          name: Install sbt
          command: |
            if [ ! -f ~/cs ]; then
              curl -fL "https://github.com/coursier/launchers/raw/master/cs-x86_64-pc-linux.gz" | gzip -d > ~/cs
              chmod +x ~/cs
            fi
            ~/cs setup --yes --apps sbt
            echo 'export PATH="$HOME/.local/share/coursier/bin:$PATH"' >> "$BASH_ENV"
      - save_cache:
          name: Cache Coursier binary
          key: coursier-bin-v1
          paths:
            - ~/cs
      - run:
          name: Run linting and tests
          command: sbt scalafmtCheckAll scalafmtSbtCheck test
      - save_cache:
          name: Cache sbt dependencies
          key: sbt-deps-v1-{{ checksum "build.sbt" }}-{{ checksum "project/plugins.sbt" }}-{{ checksum "project/build.properties" }}
          paths:
            - ~/.sbt
            - ~/.cache/coursier
            - ~/.local/share/coursier

workflows:
  build-test:
    jobs:
      - build-test
